<h3>User details:</h3>
<p>{{#link-to "index"}}Home{{/link-to}}</p>

 <ul>
   <li><strong>id:</strong> {{model.id}}</li>
   <li><strong>firstName:</strong> {{model.firstName}}</li>
   <li><strong>lastName:</strong> {{model.lastName}}</li>
   <li><strong>city:</strong> {{model.city}}</li>
   <li><strong>website:</strong> {{model.website}}</li>
 </ul>
